.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  position: absolute;
  text-align: center;
  left: 40%;
  transform: translateX(40%);
  top: 30%;
  transform: translateY(-30%);
}

.js-title {
  font-size: 500%;
  color: white;
}

.greetings {
  font-size: 300%;
  color: white;
}

.js-weather {
  color: white;
  font-size: 30px;
}

li {
  font-size: 40px;
  color: #ecf0f1;
}
